<aside>
	<h3>Corporate Classes</h3>
<h4><a href="http://www.google.com" style="color: #a4a4a4;">Contact me</a> about on-site office yoga in the Bay Area.</h4>
  <img class="b30" src="{{ site.url }}{{ site.baseurl }}/assets/img/seated_cave_yogini_edited.jpg" alt="">


	<div class="panel radius">
		<h3>Office Yoga</h3>

		<p>Adding weekly yoga at the office has been shown to increase employee happiness which in turn increases productivity!</p>

		<p>In fact, empirical studies demonstrate that yoga can reduce chronic back and neck pain resulting from desk work, repetitive stress injuries to the wrist and hands from various office tasks, and improves brain function!</p>

		<p>Please contact Victoria for more information.</p>
	</div>



</aside>